body{
background-color; pink rgba (245, 151, 167) ;
}

 h1{
color: rgba(16, 83, 63, 0.048);
font-family:Arial, Georgia, 'Times New Roman', Times, serif, sans-serif ;
background:black ;
}

p{
color:rgb(55, 0, 255) ;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
font-size:20px ;
background: rgb(64, 226, 43);
}