body{
background-color purple ;
}

 h1{
color: rgba(7, 17, 26, 0.048);
font-family:Arial, Georgia, 'Times New Roman', Times, serif, sans-serif ;
background:rgb(31, 9, 9) ;
}

p{
color:rgb(21, 13, 49) ;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
font-size:20px ;
background: rgb(45, 101, 206);
}