body{
background-color purple ;
}

 h1{
color: rgba(110, 7, 151, 0.932);
font-family:Arial, Georgia, 'Times New Roman', Times, serif, sans-serif ;
background:rgb(145, 3, 3) ;
}

p{
color:rgb(21, 13, 49) ;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
font-size:20px ;
background: rgb(18, 33, 252);
}